@Html.Partial("~/Views/Shared/_Header.cshtml")

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            @Html.Partial("~/Views/Shared/_Sidebar.cshtml")
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            @Html.Partial("~/Views/Shared/_Top.cshtml")


            @RenderBody()
        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/_Footer.cshtml")