    @Html.Partial("~/Views/Home/_schoolHeader.cshtml")

    @Html.Partial("~/Views/Home/_schoolBody.cshtml")

    @Html.Partial("~/Views/Home/_schoolRegister.cshtml")

    @Html.Partial("~/Views/Home/_schoolFooter.cshtml")

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/readmore.min.js"></script>
    <script type="text/javascript" src="~/js/school.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.1/js/bootstrapValidator.min.js"></script>

</body>
</html>