@{
    ViewBag.Title = "_footer";
}

<div id="footer" class="container-fluid">
    <section class="section">
        <div class="row">
            <div class="col-md-2">
                <a href="http://www.hultprize.org/" target="_blank">
                    <img src="~/images/school/hult-prize-logo.png" alt="Hult Prize Logo">
                </a>
            </div>

            <div class="col-md-2" id="firstthreelinks">
                <a href="#" class="scroll-link" data-id="register">
                    <h1>Register</h1>
                </a>
                <a class="scroll-link" href="#" data-id="compete">
                    <h1>Hult Prize @@</h1>
                </a>
                <a class="scroll-link" href="#" data-id="details">
                    <h1>Event Details</h1>
                </a>
            </div>

            <div class="col-md-2" id="secondthreelinks">
                <a class="scroll-link" href="#" data-id="challenge">
                    <h1>2016 Challenge</h1>
                </a>
                <a class="scroll-link" href="#" data-id="judges">
                    <h1>Judges</h1>
                </a>
            </div>

            <div class="col-md-3" id="clinton-logo">
                <img src="~/images/school/clinton-initiative-logo.png" alt="Clinton Global Initiative Logo">
            </div>

            <div class="col-md-3" id="impact-logo">
                <img src="~/images/school/net-impact-logo.png" alt="Net Impact Logo">
            </div>
        </div>
    </section>
</div>