@{
    ViewBag.Title = "ForgotPassword";
    Layout = null;
}
@using FifthTribe.Common;

@Html.Partial("~/Views/Shared/_Header.cshtml")

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <div class="form">
                <h3>Forgot Password</h3>

    @{
        
         WebCommon.Business.BusinessResult result = (WebCommon.Business.BusinessResult)Session["ForgotPasswordResult"];
        
        if ( result != null ) { 
            if (result.Success)
            {
                <div class="alert alert-success">An email has been sent with instructions on resetting your password.</div>
            }
            else
            {
                <div class="alert alert-danger">@result.ErrorDisplayMessage</div>
            }
            // Clear session
            Session["ForgotPasswordResult"] = null;            
        }
        if ( ( result == null ) || ( result != null && result.Success == false ) ) {
            <p>Enter your email address and instructions will be sent to you to reset your password.</p>
            
            <form class="form-horizontal" role="form" action="/account/forgotpassword" method="post">
              <div class="form-group has-feedback">
                <label for="email" class="col-sm-2 control-label">Email Address</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control required" id="email" name="email" value=""  placeholder="Enter Email" />
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Submit</button>
                </div>
              </div>
            </form>        
        }       
    }




                </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/_Footer.cshtml")