@{
    ViewBag.Title = "InvitationAccepted";
    Layout = null;
    
}

@Html.Partial("~/Views/Shared/_Header.cshtml")

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div class="form">
                <h3>Accept Invitation</h3>

                <p>You have successfully set your password. You can now login <a href="/account/login">here</a>.</p>

            </div>


        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/_Footer.cshtml")